.containerTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
}

.containerTopWidgets {
    display: flex;
    width: 60%;
    flex-direction: row;
    padding: 2%;
    justify-content: flex-end;
}
.containerTopWidgets button {
    height: 3.5em;
    font-size: 1em;
    margin: 1%;
    width: 25%;
    text-align: center;
}
.containerTopWidgets input {
    font-size: 1em;
    width: 5em;
    margin: 1%;
    width: 30%;
}
.MuiAutocomplete-root{
    width: 15em;
    margin-top: 0.5em;
}
.MuiTouchRipple-root{
    margin-bottom: 2em;
}