.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    color: #169BD5;
    font-size: 2em;
    font-weight: 500;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.5em;
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-shadow: 2px 2px 2px #169BD5;
}

input {
    align-items: center;
    color: #777;
    font-size: 1.5em;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    margin: 0px 0px 1em;
    height: 1em;
    padding-left: 0.1em;
}

button {
    color: #fff;
    font-size: 1.5em;
    background: #169BD5;
    border: 0;
    border-radius: 5px;
    width: 50%;
    margin: 0 0 1em 0.5em;
    height: 2em;
}

.cadastroTexto {
    color: #777;
}