button {
    color: #fff;
    font-size: 1.5em;
    background: #169BD5;
    border: 0;
    border-radius: 5px;
    width: 50%;
    margin: 0 0 1em 0.5em;
    height: 2em;
}
button[disabled]{
    background-color: #b5e3f7;
    color: #fff;
}