header {
    font-size: 2em;
    color: #027DB4;
    padding: 0.2em;
    box-shadow: 2px 3px 2px #027DB4;
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
}
.sair {
    width: 3em;
    float: right;
}
.nameUser {
    float: right;
    font-size: 0.7em;
    padding-top: 0.1em;
    padding-left: 0.1em;
    color: #027DB4;
}
a {
    text-decoration: none;
}