.hours{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.containerHours
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
}
.containerHour {
    display: flex;
    flex-direction: row;
}   
.containerHour input{
    width:2em;
    justify-content: center;
    align-items: flex-start;
    margin-right: 0.5em;
}
.containerHour label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
}


